/**
 * 01. Base
 * 02. Home
 * 03. Sponsors
 * 04. Footer Menu
 */


/**
 * 01. Base
 */
#colophon {
	padding: 0;
}

#footer-widgets {
	@include row;

	padding: 0 2rem;
}

#footer-widget-1,
#footer-widget-2,
#footer-widget-3,
#footer-widget-4 {
	@include column;

	.widget {
		h1, h2 {
			font-size: 1.75rem;
			margin-top: 0;
		}
	}
}

#footer-widget-1,
#footer-widget-2,
#footer-widget-3 {
	@media screen {
		width: 100%;
	}

	@media screen and ( min-width: $medium-up ) {
		width: 33.333333%;
		width: calc(100%/3);
	}
}

#footer-widget-4 {
	width: 100%;
}

.site-footer {
	margin-bottom: 2rem;
}

/**
 * 02. Home
 */
body.home {
	.site-footer {
		background: $light-grey;
		margin-bottom: 200px;
		position: relative;

		&:after {
			content: '';

			height: 200px;
			background-image: linear-gradient( to bottom, rgba($light-grey, 1), rgba($light-grey, 0) );

			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
		}
	}
}

.site-info {
	text-align: center;
	width: 100%;
}


/**
 * 03. Sponsors
 */
.wcb_widget_sponsors {
	.widget-title {
		text-align: center;
	}
}

.sponsor-level {
	width: 100%
}

h4.sponsor-level-title {
	text-align: center;
	color: $fountain-blue;
	background-color: transparent;
	font-size: 15px;
}

.sponsor-level {
		
	text-align: center;
	padding-bottom: 30px;

	.sponsor-logo {
		display: inline-block !important;
		padding: 10px 20px;
	    vertical-align: middle;

	}

}

.gold {

	.sponsor-logo {
		min-height: 70px;
    	max-width: 350px;

	}

}

.silver {

	.sponsor-logo {
		min-height: 50px;
    	max-width: 300px;

	}

}


.bronze {

	.sponsor-logo {
		min-height: 30px;
    	max-width: 200px;

	}

}


.small-business-sponsors {

	.sponsor-logo {
		min-height: 20px;
    	max-width: 150px;

	}

}



/**
 * 01. Base
 * 02. Home
 * 03. Sponsors
 */


/**
 * 01. Base
 */
#footer-widgets {
	@include row;
	padding-top: 50px;
	padding: 0 1rem;

	@media screen and ( min-width: $medium-up ) {
		padding-top: 100px;
	}

}

#footer-widget-1 {
	background: $light;
	border-radius: 1.5rem 0 0 1.5rem;
	box-shadow: 0 0 0 8px $light;

	@media screen and ( min-width: $medium-up ) {
		width: 66.666666%;
		width: calc(100% * 8 / 12);
	}
}

#footer-widget-2 {
	background: $dark;
	border-radius: 0 1.5rem 1.5rem 0;
	box-shadow: 0 0 0 4px $light-grey, 0 0 0 8px $light;

	@media screen and ( min-width: $medium-up ) {
		width: 33.333333%;
		width: calc(100% * 4 / 12);
	}

}

#footer-widget-1,
#footer-widget-2 {

		@media screen and ( min-width: $medium-up ) {
			display: table-cell;
			float: none !important;
		}
}

#footer-widget-1,
#footer-widget-2,
#footer-widget-3,
#footer-widget-4 {
	@include column;
}

#footer-widget-4 {

	width: 100%;
	padding-top: 50px;

		@media screen and ( min-width: $medium-up ) {
			padding-top: 100px;
		}
}

.site-footer {
	margin-bottom: 2rem;
}

.widget_recent_entries {
	ul {
		list-style: none;
		margin: 0;
	}

	li {
		margin-bottom: 1rem;
	}

	a {
		font-size: 1.125rem;
	}
}

/**
 * 02. Home
 */
body.home {
	.site-footer {
		background: $light-grey;
		margin-bottom: 200px;
		position: relative;

		&:after {
			content: '';

			height: 200px;
			background-image: linear-gradient( to bottom, rgba($light-grey, 1), rgba($light-grey, 0) );

			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
		}
	}
}

.site-info {
	text-align: center;
	width: 100%;
}


/**
 * 03. Sponsors
 */
.wcb_widget_sponsors {
	.widget-title {
		text-align: center;
	}
}

.sponsor-level {
	width: 100%
}

h4.sponsor-level-title {
	text-align: center;
	color: #59b3b5;
	background-color: transparent;
	font-size: 20px;
	line-height: 20px;
}

.sponsor-level {

	text-align: center;
	padding-bottom: 30px;

	.sponsor-logo {
		display: inline-block !important;
		padding: 10px 20px;
	    vertical-align: middle;

	}

}

.gold {

	.sponsor-logo {
		min-height: 70px;
    	max-width: 350px;

	}

}

.silver {

	.sponsor-logo {
		min-height: 50px;
    	max-width: 300px;

	}

}


.bronze {

	.sponsor-logo {
		min-height: 30px;
    	max-width: 200px;

	}

}


.small-business-sponsors {

	.sponsor-logo {
		min-height: 20px;
    	max-width: 150px;

	}

}


/**
 * 04. Footer Menu 
 */

.menu-footer-menu-container {
	
	ul {
		list-style: none;
		text-align: center;

		li { 
			display: inline;
			padding-right: 10px;
			color: $accent;
			text-decoration: none;
		}

		li:hover {
			color: $fountain-blue;

		}
	}
}




