@import
	'inherit',
	'typography',
	'grid',
	'header',
	'footer',
	'content',
	'forms'
;

* {
	font-family: $body-font;
}

html {
	background-color: $light-grey;
	box-sizing: border-box;

	*, *:before, *:after {
		box-sizing: inherit;
	}
}

body {
	background-color: $light-grey;

	@media screen and ( min-width: $medium-up ) {
		&:not(.home) {
			padding-top: $nav-height + 16px;
		}
	}
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	float: none;
	margin: {
		left: auto;
		right: auto;
	};
}

#nav-bottom {
	margin-bottom: 0 !important;
	padding-bottom: 2rem;
}

input[type="submit"] {
	@include button( $size: 'small' );

	border: 1px solid $dark;
	box-shadow: none;
}