@import
	'inherit',
	'typography',
	'grid',
	'header',
	'footer',
	'content',
	'forms'
;

.edit-link {
	display: block;
	clear: both;
}

* {
	font-family: $body-font;
}

html {
	background-color: $light-grey;
	box-sizing: border-box;

	*, *:before, *:after {
		box-sizing: inherit;
	}
}

body {
	background-color: $light-grey;

	@media screen and ( min-width: $medium-up ) {
		&:not(.home) {
			padding-top: $nav-height;
		}
	}
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	float: none;
	margin: {
		left: auto;
		right: auto;
	};
}

#nav-bottom {
	margin-bottom: 0 !important;
	padding-bottom: 2rem;
}

input[type="submit"] {
	@include button( $size: 'small' );

	border: 1px solid $dark;
	box-shadow: none;
}

#content > article > .entry-header {
	@include clearfix;

	margin: 0 -4.5455%;
	background: {
		image: url(https://2016.rhodeisland.wordcamp.org/files/2016/08/waves-full@2x.png);
		position: 0 100%;
		size: 1055px 89px;
		repeat: repeat-x;
	};

	> .entry-title {
		@include row;
		padding: 0 1rem;

		margin-bottom: 99px;

		@media screen and ( max-width: 1420px ) {
			padding: 0 4.5455%;
		}
	}
}