@import
	'inherit',
	'typography',
	'grid',
	'header',
	'footer',
	'content',
	'forms'
;

* {
	font-family: $body-font;
}

html {
	background-color: $light-grey;
	box-sizing: border-box;

	*, *:before, *:after {
		box-sizing: inherit;
	}
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	float: none;
	margin: {
		left: auto;
		right: auto;
	};
}