@media screen {
	@for $i from 1 through 12 {
		.small-#{$i} {
			width: 100% * ($i/12);
		}
	}

	.columns.small-centered {
		float: none;
		margin: {
			left: auto;
			right: auto;
		};
	}
}

@media screen and ( min-width: $medium-up ) {
	@for $i from 1 through 12 {
		.medium-#{$i} {
			width: 100% * ($i/12);
		}
	}

	.columns.medium-centered {
		float: none;
		margin: {
			left: auto;
			right: auto;
		};
	}
}

@media screen and ( min-width: $large-up ) {
	@for $i from 1 through 12 {
		.large-#{$i} {
			width: 100% * ($i/12);
		}
	}

	.columns.large-centered {
		float: none;
		margin: {
			left: auto;
			right: auto;
		};
	}
}

.row {
	@include row;
}

.columns {
	@include column;
}