@media screen {
	@for $i from 1 through 12 {
		.small-#{$i} {
			width: 100% * ($i/12);
		}
	}
}

@media screen and ( min-width: $medium-up ) {
	@for $i from 1 through 12 {
		.medium-#{$i} {
			width: 100% * ($i/12);
		}
	}
}

@media screen and ( min-width: $large-up ) {
	@for $i from 1 through 12 {
		.large-#{$i} {
			width: 100% * ($i/12);
		}
	}
}

.row {
	@include row;
}

.columns {
	@include column;
}