/**
 * Sass Variables
 *
 * 01. Colors
 * 02. Fonts
 * 03. Sizes
 * 04. Grid
 * 05. Global
 */


// 01. Colors
$light-grey:    #f2f2f2;
$plantation:    #274c4f;
$blue-chill:    #3a8791;
$fountain-blue: #59b3b5;
$jagged-ice:    #c1e4e5;
$yellow-sea:    #fa9e3c;

$primary: $fountain-blue;
$accent:  $yellow-sea;
$light:   $jagged-ice;
$dark:    $blue-chill;
$darkest: $plantation;

$secondary: $dark;

// 02. Fonts
$headline-font: "abolition-soft",sans-serif;
$body-font:     "expo-serif-pro",sans-serif;

// 03. Sizes
$nav-height: 88px;
$logo-height: $nav-height - 12px;
$logo-img-height: $logo-height - 20px;

$logo-mobile-adjust: 40px;

/**
 * 04. Grid
 */
$large-up:  1024px;
$medium-up: 768px;

// 05. Global
$global-easing: ease-in-out;
$animations-on: true;