/**
 * 01. Single Blog Post
 */


/**
 * 01. Single Blog Post
 */
body.single-post {
	#content > article > .entry-header {
		> .entry-title {
			margin-bottom: 0;
		}

		> .entry-meta {
			margin-bottom: 99px;
		}
	}

	.entry-content,
	.entry-meta,
	#nav-below,
	#comments {
		@include row;

		padding: {
			left: 1rem;
			right: 1rem;
		};
	}
}

.type-post {
	.entry-content {
		@include row;

		h1.entry-title {
			margin-bottom: 10px !important;
		}
	}

	.entry-meta {
		@include row;
		margin-bottom: 99px;
		
		.cat-links, .sep, .comments-link {
			display: none;
		}
	}
		
}

.error404 {	
	.entry-content {
		@include row;
	}
}
