/**
 * 01. Location Text
 */


/**
 * 01. Location Text
 */

.locationQ {
	color: $dark;
	font-style: normal !important;
	margin-top: 0 !important;
	margin-bottom: 10px !important;
}

.googlemaps {
	border: 4px solid $light;
	box-shadow: 0 0 0 4px $primary;
}
