table {
	tr:nth-of-type(odd) td {
		background: $light;

		&:nth-of-type(3),
		&:nth-of-type(5){
			background: scale-color( $light, $lightness: -5% );
		}
	}

	tr:nth-of-type(even) td {
		&:nth-of-type(3),
		&:nth-of-type(5){
			background: mix( white, #f2f2f2, 50% );
		}
	}
}

.wcpt-schedule {
	thead {
		background-color: $primary;

		th {
			color: white;
		}
	}

	td, th {
		padding: 10px 1rem;
		text-align: center;
		vertical-align: top;
	}

	tr > td {
		&:first-of-type {
			width: 100px;
		}
	}

	&:first-of-type {
		tr > td:nth-of-type(n + 2) {
			width: calc(100%/4);
		}

		.global-session {
			td[colspan="4"] {
				text-align: center;
			}
		}
	}

	&:last-of-type {
		tr > td:nth-of-type(n + 2) {
			width: calc(100%/3);
		}

		.global-session {
			td[colspan="3"] {
				text-align: center;
			}
		}
	}

	.global-session {
		&[class*="keynote"] {
			background-color: $accent;
			color: white;

			a {
				color: $primary;
			}
		}
	}

	@media screen and ( max-width: 700px ) {
		td {
			width: 100% !important;
		}
	}
}

@media screen and ( max-width: 700px ) {
	span.wcpt-session-speakers:before {
		content: initial;
	}
}


.type-page {
	padding: 0 1rem;

	@media screen and ( min-width: $medium-up ) {
		padding: 0px;
	}
}

.wcb_session {
	.entry-header {
		padding: 0 1rem;

		@media screen and ( min-width: $medium-up ) {
			padding: 0px;
		}
	}

	.entry-content {
		@include row;
		padding: 0 1rem;

		@media screen and ( min-width: $medium-up ) {
			padding: 0px;
		}
	}
}


.wcorg-session-description {
	.googlemaps {
		iframe {
			width: 100%;
		}
	}
}



