/**
 * 01. Speaker List
 * 02. Speaker Bio
 */


/**
 * 01. Speaker List
 */
.speaker-gravatar-list {
	display: none;
}

.speakers {
	/*@media screen and ( min-width: 768px ) {
		.grid_6 {
			float: left;
			padding-right: 1rem;
			width: 50%;

			+ .grid_6 {
				padding: {
					left: 1rem;
					right: 0;
				};
			}
		}
	}*/
}


/**
 * 02. Speaker Bio
 */
.speaker-bio {
	min-height: 126px;
	padding-left: 126px;
	position: relative;

	.avatar {
		border: 4px solid transparent;
		border-radius: 50%;
		box-shadow: 0 0 0 4px $light;

		position: absolute;
		left: 0;
		top: 0;
	}
}