/**
 * 01. Tickets Table
 * 02. Tickets Form
 */


/**
 * 01. Tickets Table
 */
$table-border: $dark;

.tix_tickets_table {
	background: scale-color( $light-grey, $lightness: 50% );
	border: 1px solid $table-border;
	color: $dark;

	th,
	td {
		padding: .5rem 1rem;
	}

	td {
		border-top: 1px solid $table-border;

		+ td {
			border-left: 1px solid $table-border;
		}
	}
}


#tickets-on-sale {

	overflow: hidden;
	height: inherit;
	padding-top: 40px;

	.tickets-message {
		background-color: $fountain-blue;
		height: inherit; 
	    color: #fff;
	    position: relative;
	    vertical-align: middle;
	    margin-bottom:40px;
	    position: relative;
	}

	.tickets-message:after {
		border-left: 350px solid transparent;
	    border-right: 350px solid transparent;
	    border-top: 40px solid $fountain-blue;
	    left: 50%;
	    top: 100%;
	    position: absolute;
	    content: '';
	    transform: translateX(-50%);
	
	}

	.tickets-table {
		padding-top: 60px;
	}

	@media screen and (min-width: 768px) {

		height: 400px;

		.tickets-message:after {
			border-bottom: 200px solid transparent;
		    border-top: 200px solid transparent;
		    border-left: 40px solid $fountain-blue;
		    left: 100%;
		    top: 0;
		    transform: translateX(0);

		}

		.tickets-table {
			padding-left: 70px;
			padding-top: 0px;

		}

	}

	.tickets-column {
		height: 400px;
	}

}



.v-center {
	position: relative;
    top: 50%;
    transform: translateY(-50%);

}


#tix {

	padding-top: 0px !important;

	.tix-js {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.tix_tickets_table {
		tr {
	   		font-size: 13px;
		}
	}

	a#tix-coupon-link {
		background-color: $accent;
		color: $light-grey;
	    padding: 0 1rem;
	    border-radius: 2rem;
	    margin: .5rem 0 0;
	    font-size: 13px;
	    
	    border: 1px solid $light-grey;
	    box-shadow: none;
	    padding: 8px !important;
	    text-decoration: none;
	}

	a#tix-coupon-link:hover {
		transition: 250ms background-color ease-in-out;

	}

}

/**
 * 02. Tickets Form
 */

.tix-has-dynamic-receipts {
	@include row;
}

.tix-ticket-excerpt {
	display: none;
}




