/**
 * 01. Tickets Table
 */


/**
 * 01. Tickets Table
 */
$table-border: $dark;

.tix_tickets_table {
	background: scale-color( $light-grey, $lightness: 50% );
	border: 1px solid $table-border;
	color: $dark;

	th,
	td {
		padding: .5rem 1rem;
	}

	td {
		border-top: 1px solid $table-border;

		+ td {
			border-left: 1px solid $table-border;
		}
	}
}


#tickets-on-sale {

	height: inherit;

	.tickets-message {
		background-color: $fountain-blue;
		height: inherit; 
	    color: #fff;
	    position: relative;
	    vertical-align: middle;
	    margin-bottom:40px;
	}

	.tickets-column {
		height: 100%;
	}

}



div.v-center.blueBox {
	padding-top: 40px;
	padding-bottom: 20px;

}


#tix {

	padding-top: 0px !important;

	a#tix-coupon-link {
		background-color: $accent;
		color: $light-grey;
	    padding: 0 1rem;
	    border-radius: 2rem;
	    margin: .5rem 0 0;
	    
	    border: 1px solid $light-grey;
	    box-shadow: none;
	    padding: 8px !important;
	    text-decoration: none;
	}

	a#tix-coupon-link:hover {
		transition: 250ms background-color ease-in-out;

	}

}







