/**
 * 01. Tickets Table
 */


/**
 * 01. Tickets Table
 */
$table-border: $dark;

.tix_tickets_table {
	background: scale-color( $light-grey, $lightness: 50% );
	border: 1px solid $table-border;
	color: $dark;

	th,
	td {
		padding: .5rem 1rem;
	}

	td {
		border-top: 1px solid $table-border;

		+ td {
			border-left: 1px solid $table-border;
		}
	}
}


#tickets-on-sale {

	.tickets-message {
		background-color: #59b3b5;
		height: 371px; 
	    color: #fff;
	    position: relative;
	    vertical-align: middle;
	}

}

v-center {
	margin-top: 40px;
}







